body{
	font-family: 'Arial';
}

h1 {
	padding-top: 25px;
	padding-bottom: 25px;
	text-indent: 20px;
	color: white; 
	background: darkblue; 
	font-weight:bold; 
}

h2 {
	margin-top: 20px; 
	color: darkgrey; 
	font-weight:bold; 
}

ul{	
	margin: 0; 
	padding: 0;
	padding-left: 20px;
}

.line{
	border-bottom: 4px solid darkgrey;
}

.centered{
	width: 960px;
	text-align: left;
	border: 0px;
	padding: 0;
	margin: auto;
} 

.border{
	border: 1px solid blue;
	padding-top: 20px;
	padding-bottom: 20px;
}

.indent{
	text-indent: 20px;
}

	




/* `font-family`
* `border`
* `background-color`
* `color`
* `margin`
* `padding`
* `list-style-type`
* `display`
*/
